*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body {
    width: 100%;
}
.content{
    text-align: center;
    position: absolute;
    font-size: 30px;
    font-family: louis vuitton web;
    top: 80%;
    left: 39%;
    color: white;
    font-weight: 500;
   
    
}
.tuandien:hover{
    background: transparent;
    background-color: rgb(255 255 255);
    color: black;

}
ul{
    color:white;
}
.tuandien{
    color: rgb(255 255 255);
}
a{
    
    font-family: louis vuitton web;
    
}
.button1{
    width: 300px;
    border-radius: 21px;
    border: solid white 2px;
    background: transparent;
  
}
p{
    color:  white;
    margin-top: 10px;
    font-size: 20px;
}
.item{
    position: relative;
    margin-top: -20px;
    width: 100%;
  
}
.item2{
    top:-30px;
    
}
h4{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}
h6{
    margin-top: 20px;
    font-family: louis vuitton web;
}
