body {
  background-image: linear-gradient(to bottom right, #beebf1, #f3accc);
  height: 100vh;
  overflow: hidden;
  font-family: monospace;
}
.containers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 70vh;
  z-index: 1;
}
.containers ::before {
  position: absolute;
  bottom: 50%;
  left: 80%;
  width: 600px;
  height: 600px;
  content: "";
  background-image: linear-gradient(to top right, #b1baf5, #c2adf3);
  border-radius: 50%;
  z-index: -1;
}
.containers ::after {
  position: absolute;
  top: 50%;
  right: 80%;
  width: 400px;
  height: 400px;
  content: "";
  background-image: linear-gradient(to top right, #b1baf5, #c2adf3);
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}
.form {
  background-color: rgb(243, 222, 222, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.content {
  width: 80%;
  padding: 10%;
  height: 60%;
}
h1 {
  color: aliceblue;
  margin-bottom: 80px;
}
button {
  width: 80%;
  border: none;
  margin-top: 50px;
  padding: 15px;
  position: absolute;
  bottom: 20%;
  border-radius: 20px;
}
input {
  margin-bottom: 20px;
}
#signup {
  padding: 22%;
  color: black;
}
#foget {
  color: black;
}
.signup a {
  text-decoration: none;
}
